*{
    box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #f9f9f9;
}
p, h1, h2 {
	margin: 0px;
}
h1{
    font-family: 'SocialRegular';
    color: rgb(255, 142, 145);
    line-height: 1.1;
}
h2{
    font-family: 'SocialMonoRegular';
    color: #bb8b41;
}
h2 a {
    color: #97753E;
    text-decoration: underline;
}
h2 a:hover, h2 a:focus {
	color: rgb(255, 255, 255);
    background-color: #dfd96a;
}
p{
    font-family: 'SocialMonoRegular'
}
a {
    text-decoration: none;
    color: inherit;
}
.sidebar-content > p > a:hover, .sidebar-content > p > a:focus {
	color: black;
    background-color: #dfd96a;
}

/* MIN */
@media only screen and (max-width: 800px) {
	h1{
        font-size: 28px;
    }
    h2 {
        font-size: 20px;
        line-height: 1.1;
    }
}
/* MID */
@media only screen and (min-width: 801px) and (max-width: 1100px) {
	h1{
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
        line-height: 1.2;
    }
}
/* MAX */
@media only screen and (min-width: 1101px) {
	h1{
        font-size: 45px;
    }
    h2 {
        font-size: 30px;
        line-height: 1.2;
    }
}

@font-face {
    font-family: "SocialRegular";
    src: url("assets/fonts/ABCSocial-Regular-Trial.otf");
}
@font-face {
    font-family: "SocialMedium";
    src: url("assets/fonts/ABCSocial-Medium-Trial.otf");
}
@font-face {
    font-family: "SocialCondensedMedium";
    src: url("assets/fonts/ABCSocialCondensed-Medium-Trial.otf");
}
@font-face {
    font-family: "SocialCondensedBold";
    src: url("assets/fonts/ABCSocialCondensed-Bold-Trial.otf");
}
@font-face {
    font-family: "SocialMonoBook";
    src: url("assets/fonts/ABCSocialMono-Book-Trial.otf");
}
@font-face {
    font-family: "SocialMonoRegular";
    src: url("assets/fonts/ABCSocialMono-Regular-Trial.otf");
}
@font-face {
    font-family: "SocialExtendedBook";
    src: url("assets/fonts/ABCSocialExtended-Book-Trial.otf");
}
@font-face {
    font-family: "GaisyrBook";
    src: url("assets/fonts/ABCGaisyr-Book-Trial.otf");
}
@font-face {
    font-family: "HALTimezone";
    src: url("assets/fonts/HALTimezone-Regular.otf");
}